.bg-banner {
  width: 100%;
  background-image: url(../../../assets/images/Banner.png);

  height: 690px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
@media only screen and (max-width: 768px) {
  .bg-banner {
    background-image: url(../../../assets/images/Banner.png);
    height: 860px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
}
